/* CUSTOME STYLES FOR TAILWIND TYPOGRAPHY */

/* .prose h2 a {
  text-decoration: none;
} */
@import "tailwindcss";
@reference './tailwind.css'
/* @config "@@/tailwind.config.js"; */

.prose :is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
  @apply font-bold;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply mt-0 mb-5 text-2xl;
}

@theme {
  --color-blue-primary: #1C274C;
  --color-blue-secondary: #1D4E76;
  --color-blue-tertiary: #161A42;
}
