/* CUSTOME STYLES FOR TAILWIND TYPOGRAPHY */
@import 'tailwindcss';

.prose :is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
  @apply font-bold;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply mt-0 mb-5 text-2xl;
}

.prose hr {
  /* border-color: var(--color-blue-secondary); */
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* height: 0px; */
  /* background-image: linear-gradient(to right, transparent, #ccc, transparent); */
}

@theme {
  --color-blue-primary: #1c274c;
  --color-blue-secondary: #1d4e76;
  --color-blue-tertiary: #161a42;
}

.prose a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  @apply text-[#263145]
}
